:root {
    --ship-size: 10vmin;
    --sky-color: #b0adc5;
    --ship-color: #F9E2FE;
    --ship-cap-color: crimson;
    --ship-wing-color: #4C3198;
    --ship-window-trim-color: #4C3198;
    --ship-booster-color: #C38382;
    --star-color: rgb(0, 0, 0);
    --stars-sm-speed: 7s;
    --stars-md-speed: 5s;
    --stars-lg-speed: 3s;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    position: relative;
    overflow: hidden;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/textured_paper_%402X.png);
    /*background-color: var(--sky-color);*/
  }
  
  .ship,
  .star-field {
    position: absolute;
    top: 50%;
    left: 50%;
    will-change: transform;
    transition: transform 0.4s ease;
    transform: translate(-50%, -50%);
  }
  
  .star-field {
    width: 200%;
    height: 200%;
    transition: transform 1s ease-out;
  }
  
  .hover-area {
    flex-grow: 1;
    z-index: 3;
  }
  .hover-area:nth-child(1):hover ~ .ship, .hover-area:nth-child(1):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  .hover-area:nth-child(2):hover ~ .ship, .hover-area:nth-child(2):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(-80deg);
  }
  .hover-area:nth-child(3):hover ~ .ship, .hover-area:nth-child(3):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(-70deg);
  }
  .hover-area:nth-child(4):hover ~ .ship, .hover-area:nth-child(4):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(-60deg);
  }
  .hover-area:nth-child(5):hover ~ .ship, .hover-area:nth-child(5):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(-50deg);
  }
  .hover-area:nth-child(6):hover ~ .ship, .hover-area:nth-child(6):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(-40deg);
  }
  .hover-area:nth-child(7):hover ~ .ship, .hover-area:nth-child(7):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(-30deg);
  }
  .hover-area:nth-child(8):hover ~ .ship, .hover-area:nth-child(8):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(-20deg);
  }
  .hover-area:nth-child(9):hover ~ .ship, .hover-area:nth-child(9):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(-10deg);
  }
  .hover-area:nth-child(10):hover ~ .ship, .hover-area:nth-child(10):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .hover-area:nth-child(11):hover ~ .ship, .hover-area:nth-child(11):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .hover-area:nth-child(12):hover ~ .ship, .hover-area:nth-child(12):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(10deg);
  }
  .hover-area:nth-child(13):hover ~ .ship, .hover-area:nth-child(13):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(20deg);
  }
  .hover-area:nth-child(14):hover ~ .ship, .hover-area:nth-child(14):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(30deg);
  }
  .hover-area:nth-child(15):hover ~ .ship, .hover-area:nth-child(15):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(40deg);
  }
  .hover-area:nth-child(16):hover ~ .ship, .hover-area:nth-child(16):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(50deg);
  }
  .hover-area:nth-child(17):hover ~ .ship, .hover-area:nth-child(17):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(60deg);
  }
  .hover-area:nth-child(18):hover ~ .ship, .hover-area:nth-child(18):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(70deg);
  }
  .hover-area:nth-child(19):hover ~ .ship, .hover-area:nth-child(19):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(80deg);
  }
  .hover-area:nth-child(20):hover ~ .ship, .hover-area:nth-child(20):hover ~ .star-field {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .hover-area:active ~ .star-field .stars-sm:before, .hover-area:active ~ .star-field .stars-sm:after {
    animation-duration: calc(var(--stars-sm-speed) / 2);
  }
  .hover-area:active ~ .star-field .stars-sm:after {
    animation-delay: calc(var(--stars-sm-speed) / -4);
  }
  .hover-area:active ~ .star-field .stars-md:before, .hover-area:active ~ .star-field .stars-md:after {
    animation-duration: calc(var(--stars-md-speed) / 2);
  }
  .hover-area:active ~ .star-field .stars-md:after {
    animation-delay: calc(var(--stars-md-speed) / -4);
  }
  .hover-area:active ~ .star-field .stars-lg:before, .hover-area:active ~ .star-field .stars-lg:after {
    animation-duration: calc(var(--stars-lg-speed) / 2);
  }
  .hover-area:active ~ .star-field .stars-lg:after {
    animation-delay: calc(var(--stars-lg-speed) / -4);
  }
  .hover-area:active ~ .ship .wrapper {
    animation: speed-up-ship 80ms linear infinite alternate;
  }
  .hover-area:active ~ .ship .exhaust {
    animation: speed-up-exhaust 80ms linear infinite alternate;
  }
  
  .ship .wrapper {
    display: flex;
  }
  .ship .cerdo {
    position: relative;
    
    max-width: 70%;
    max-height: 70%;
  }
  .ship .cerdo:before {
    content: "";
    position: absolute;
    border-radius: 50% 50% 50% 50%/76% 76% 25% 25%;
  }
  .ship .body {
    position: relative;
    background-color: var(--ship-color);
    border-radius: 0 0 50% 50%/76% 76% 15% 15%;
  }
  .ship .body:before {
    content: "";
    position: absolute;
    border-radius: 50% 50% 50% 50%/76% 76% 25% 25%;
  }
  
  .ship .main {
    width: var(--ship-size);
    height: calc(var(--ship-size) * 1.5);
    box-shadow: inset rgba(0, 0, 0, 0.15) -0.5vmin 0 2vmin 0;
  }
  .ship .main:before {
    bottom: 80%;
    width: 100%;
    height: 75%;
    background-color: inherit;
    box-shadow: inset rgba(0, 0, 0, 0.15) -0.5vmin 1vmin 1vmin 0;
  }
  .ship .main:after {
    content: "";
    position: absolute;
    bottom: 75%;
    left: 0;
    right: 0;
    margin: auto;
    border: calc(var(--ship-size) / 15) solid var(--ship-window-trim-color);
    width: calc(var(--ship-size) / 1.8);
    height: calc(var(--ship-size) / 1.8);
    box-shadow: inset rgba(0, 0, 0, 0.075) -2vmin -2vmin 0 0, inset rgba(0, 0, 0, 0.1) -1vmin -1.5vmin 0 0;
    border-radius: 100%;
  }
  
  .ship .side {
    width: calc(var(--ship-size) / 3);
    height: var(--ship-size);
    box-shadow: inset rgba(0, 0, 0, 0.1) -0.5vmin 0 1vmin 0, inset rgba(0, 0, 0, 0.1) 0.5vmin 0 1vmin 0;
  }
  .ship .side:before {
    bottom: 90%;
    width: 100%;
    height: 35%;
    background-color: var(--ship-cap-color);
    box-shadow: inset rgba(0, 0, 0, 0.2) -0.5vmin 1vmin 1vmin 0, inset rgba(255, 255, 255, 0.2) 0.5vmin 1vmin 1vmin 0;
  }
  .ship .side.left {
    left: 1px;
  }
  .ship .side.right {
    right: 1px;
  }
  
  .ship .wing {
    position: absolute;
    bottom: 2vmin;
    background-color: var(--ship-wing-color);
    width: calc(var(--ship-size) / 2);
    height: calc(var(--ship-size) / 1.5);
    z-index: 1;
    box-shadow: inset rgba(0, 0, 0, 0.1) -0.5vmin 1vmin 1vmin 0, inset rgba(255, 255, 255, 0.1) 0.5vmin 1vmin 1vmin 0;
  }
  .ship .wing.left {
    right: 100%;
    border-radius: 100% 0 10% 10%;
  }
  .ship .wing.right {
    left: 100%;
    border-radius: 0 100% 10% 10%;
  }
  
  .ship .booster {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(var(--ship-size) / 1.2);
    height: calc(var(--ship-size) / 2.5);
    background-color: var(--ship-booster-color);
    border-radius: 0 0 50% 50%/76% 76% 35% 35%;
    z-index: -1;
    box-shadow: inset rgba(0, 0, 0, 0.3) -0.5vmin 1vmin 1vmin 0, inset rgba(255, 255, 255, 0.3) 0.5vmin 1vmin 1vmin 0, black 0 0 2vmin;
  }
  
  .ship .exhaust {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    width: calc(var(--ship-size) / 1.4);
    height: 80%;
    border-radius: 0 0 100% 100%;
    background-image: linear-gradient(to bottom, yellow, transparent 70%);
    z-index: -2;
    transform-origin: 50% 0;
    animation: exhaust 0.1s linear alternate infinite;
  }
  
  .stars {
    position: absolute;
    top: 0;
    left: 0;
  }
  .stars:before, .stars:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    animation: stars linear infinite;
    transform: translateY(-100vh);
  }
  .stars-sm {
    width: 3px;
    height: 3px;
  }
  .stars-sm:before, .stars-sm:after {
    box-shadow: 149vw 149vh var(--star-color), 173vw 111vh var(--star-color), 43vw 18vh var(--star-color), 17vw 73vh var(--star-color), 54vw 129vh var(--star-color), 44vw 82vh var(--star-color), 186vw 78vh var(--star-color), 62vw 188vh var(--star-color), 136vw 147vh var(--star-color), 186vw 50vh var(--star-color), 27vw 34vh var(--star-color), 193vw 126vh var(--star-color), 2vw 154vh var(--star-color), 187vw 169vh var(--star-color), 75vw 27vh var(--star-color), 67vw 56vh var(--star-color), 57vw 69vh var(--star-color), 10vw 63vh var(--star-color), 21vw 80vh var(--star-color), 104vw 61vh var(--star-color), 167vw 76vh var(--star-color), 52vw 86vh var(--star-color), 155vw 9vh var(--star-color), 50vw 25vh var(--star-color), 36vw 65vh var(--star-color), 125vw 19vh var(--star-color), 37vw 24vh var(--star-color), 85vw 88vh var(--star-color), 1vw 154vh var(--star-color), 142vw 169vh var(--star-color), 177vw 83vh var(--star-color), 131vw 1vh var(--star-color), 132vw 70vh var(--star-color), 64vw 81vh var(--star-color), 102vw 92vh var(--star-color), 98vw 79vh var(--star-color), 106vw 190vh var(--star-color), 68vw 177vh var(--star-color), 149vw 102vh var(--star-color), 131vw 122vh var(--star-color), 98vw 109vh var(--star-color), 35vw 171vh var(--star-color), 61vw 149vh var(--star-color), 21vw 131vh var(--star-color), 100vw 28vh var(--star-color), 172vw 165vh var(--star-color), 68vw 97vh var(--star-color), 186vw 18vh var(--star-color), 83vw 95vh var(--star-color), 180vw 115vh var(--star-color), 198vw 97vh var(--star-color), 76vw 192vh var(--star-color), 103vw 180vh var(--star-color), 75vw 113vh var(--star-color), 77vw 101vh var(--star-color), 132vw 69vh var(--star-color), 181vw 137vh var(--star-color), 182vw 87vh var(--star-color), 105vw 127vh var(--star-color), 119vw 103vh var(--star-color), 74vw 133vh var(--star-color), 60vw 132vh var(--star-color), 77vw 54vh var(--star-color), 168vw 119vh var(--star-color), 59vw 175vh var(--star-color), 82vw 41vh var(--star-color), 165vw 147vh var(--star-color), 189vw 78vh var(--star-color), 146vw 24vh var(--star-color), 97vw 46vh var(--star-color), 147vw 23vh var(--star-color), 79vw 79vh var(--star-color), 173vw 6vh var(--star-color), 5vw 66vh var(--star-color), 141vw 32vh var(--star-color), 33vw 133vh var(--star-color), 12vw 67vh var(--star-color), 103vw 61vh var(--star-color), 87vw 23vh var(--star-color), 91vw 183vh var(--star-color), 65vw 104vh var(--star-color), 113vw 75vh var(--star-color), 135vw 26vh var(--star-color), 2vw 104vh var(--star-color), 35vw 24vh var(--star-color), 29vw 39vh var(--star-color), 61vw 127vh var(--star-color), 139vw 122vh var(--star-color), 68vw 197vh var(--star-color), 191vw 152vh var(--star-color), 40vw 100vh var(--star-color), 131vw 148vh var(--star-color), 141vw 116vh var(--star-color), 157vw 16vh var(--star-color), 14vw 194vh var(--star-color), 54vw 48vh var(--star-color), 42vw 46vh var(--star-color), 182vw 78vh var(--star-color), 157vw 20vh var(--star-color), 147vw 154vh var(--star-color), 47vw 148vh var(--star-color), 1vw 157vh var(--star-color), 53vw 76vh var(--star-color), 83vw 155vh var(--star-color), 45vw 31vh var(--star-color), 40vw 68vh var(--star-color), 109vw 48vh var(--star-color), 125vw 69vh var(--star-color), 38vw 105vh var(--star-color), 118vw 149vh var(--star-color), 23vw 145vh var(--star-color), 21vw 40vh var(--star-color), 15vw 149vh var(--star-color), 176vw 132vh var(--star-color), 4vw 156vh var(--star-color), 168vw 95vh var(--star-color), 171vw 165vh var(--star-color), 174vw 128vh var(--star-color), 102vw 190vh var(--star-color), 33vw 140vh var(--star-color), 111vw 1vh var(--star-color), 143vw 67vh var(--star-color), 146vw 135vh var(--star-color), 120vw 22vh var(--star-color), 164vw 148vh var(--star-color), 59vw 71vh var(--star-color), 106vw 192vh var(--star-color), 178vw 82vh var(--star-color), 191vw 199vh var(--star-color), 43vw 11vh var(--star-color), 164vw 74vh var(--star-color), 115vw 126vh var(--star-color), 83vw 79vh var(--star-color), 61vw 112vh var(--star-color), 123vw 126vh var(--star-color), 87vw 122vh var(--star-color), 91vw 125vh var(--star-color), 177vw 44vh var(--star-color), 55vw 160vh var(--star-color), 140vw 27vh var(--star-color), 75vw 93vh var(--star-color), 48vw 195vh var(--star-color), 53vw 29vh var(--star-color), 180vw 136vh var(--star-color), 151vw 27vh var(--star-color), 112vw 61vh var(--star-color), 137vw 149vh var(--star-color), 45vw 142vh var(--star-color), 150vw 34vh var(--star-color), 132vw 101vh var(--star-color), 79vw 31vh var(--star-color), 162vw 91vh var(--star-color), 177vw 67vh var(--star-color), 178vw 99vh var(--star-color), 82vw 107vh var(--star-color), 191vw 41vh var(--star-color), 126vw 135vh var(--star-color), 3vw 155vh var(--star-color), 26vw 1vh var(--star-color), 115vw 104vh var(--star-color), 24vw 198vh var(--star-color), 78vw 43vh var(--star-color), 40vw 102vh var(--star-color), 82vw 166vh var(--star-color), 151vw 147vh var(--star-color), 80vw 1vh var(--star-color), 105vw 19vh var(--star-color), 196vw 122vh var(--star-color), 98vw 137vh var(--star-color), 46vw 95vh var(--star-color), 86vw 3vh var(--star-color), 189vw 124vh var(--star-color), 6vw 178vh var(--star-color), 146vw 47vh var(--star-color), 73vw 16vh var(--star-color), 83vw 117vh var(--star-color), 158vw 161vh var(--star-color), 196vw 151vh var(--star-color), 191vw 59vh var(--star-color), 107vw 47vh var(--star-color), 184vw 127vh var(--star-color), 118vw 158vh var(--star-color), 117vw 50vh var(--star-color), 85vw 134vh var(--star-color), 126vw 188vh var(--star-color), 177vw 106vh var(--star-color), 124vw 21vh var(--star-color), 54vw 117vh var(--star-color), 42vw 197vh var(--star-color), 196vw 126vh var(--star-color), 50vw 70vh var(--star-color), 76vw 12vh var(--star-color), 119vw 9vh var(--star-color), 29vw 126vh var(--star-color), 97vw 55vh var(--star-color), 18vw 45vh var(--star-color), 94vw 24vh var(--star-color), 5vw 160vh var(--star-color), 88vw 39vh var(--star-color), 195vw 200vh var(--star-color), 86vw 89vh var(--star-color), 165vw 144vh var(--star-color), 40vw 144vh var(--star-color), 69vw 52vh var(--star-color), 149vw 103vh var(--star-color), 45vw 107vh var(--star-color), 127vw 43vh var(--star-color), 91vw 134vh var(--star-color), 6vw 104vh var(--star-color), 64vw 183vh var(--star-color), 73vw 119vh var(--star-color), 140vw 74vh var(--star-color), 40vw 61vh var(--star-color), 103vw 47vh var(--star-color), 177vw 6vh var(--star-color), 55vw 179vh var(--star-color), 158vw 89vh var(--star-color), 85vw 131vh var(--star-color), 177vw 159vh var(--star-color), 156vw 22vh var(--star-color), 27vw 85vh var(--star-color), 88vw 158vh var(--star-color), 82vw 60vh var(--star-color), 6vw 82vh var(--star-color), 91vw 132vh var(--star-color), 95vw 120vh var(--star-color), 76vw 99vh var(--star-color), 91vw 2vh var(--star-color), 83vw 83vh var(--star-color), 157vw 125vh var(--star-color), 104vw 95vh var(--star-color), 168vw 23vh var(--star-color), 140vw 200vh var(--star-color), 121vw 154vh var(--star-color), 16vw 96vh var(--star-color), 189vw 88vh var(--star-color), 80vw 128vh var(--star-color), 199vw 92vh var(--star-color), 138vw 93vh var(--star-color), 49vw 17vh var(--star-color), 113vw 173vh var(--star-color), 131vw 178vh var(--star-color), 61vw 199vh var(--star-color), 23vw 145vh var(--star-color), 163vw 176vh var(--star-color), 136vw 15vh var(--star-color), 135vw 131vh var(--star-color), 120vw 82vh var(--star-color), 168vw 140vh var(--star-color), 12vw 99vh var(--star-color), 122vw 49vh var(--star-color), 41vw 47vh var(--star-color), 116vw 78vh var(--star-color), 167vw 15vh var(--star-color), 173vw 185vh var(--star-color), 89vw 190vh var(--star-color), 98vw 134vh var(--star-color), 58vw 60vh var(--star-color), 68vw 28vh var(--star-color), 178vw 63vh var(--star-color), 83vw 66vh var(--star-color), 57vw 77vh var(--star-color), 74vw 18vh var(--star-color), 175vw 102vh var(--star-color), 11vw 169vh var(--star-color), 183vw 19vh var(--star-color), 40vw 18vh var(--star-color), 162vw 89vh var(--star-color), 76vw 66vh var(--star-color), 79vw 54vh var(--star-color), 15vw 46vh var(--star-color), 149vw 172vh var(--star-color), 40vw 176vh var(--star-color), 149vw 100vh var(--star-color), 132vw 145vh var(--star-color), 73vw 70vh var(--star-color), 35vw 161vh var(--star-color), 197vw 195vh var(--star-color), 154vw 100vh var(--star-color), 169vw 179vh var(--star-color), 33vw 35vh var(--star-color), 38vw 147vh var(--star-color), 52vw 148vh var(--star-color), 125vw 7vh var(--star-color), 164vw 39vh var(--star-color), 40vw 15vh var(--star-color), 89vw 65vh var(--star-color), 130vw 54vh var(--star-color), 147vw 144vh var(--star-color), 192vw 84vh var(--star-color), 12vw 82vh var(--star-color), 50vw 35vh var(--star-color), 67vw 119vh var(--star-color), 85vw 124vh var(--star-color), 15vw 176vh var(--star-color), 61vw 23vh var(--star-color), 163vw 83vh var(--star-color), 62vw 186vh var(--star-color), 199vw 48vh var(--star-color), 47vw 157vh var(--star-color), 97vw 53vh var(--star-color), 173vw 104vh var(--star-color), 169vw 152vh var(--star-color), 194vw 112vh var(--star-color), 181vw 162vh var(--star-color), 197vw 166vh var(--star-color), 153vw 27vh var(--star-color), 19vw 40vh var(--star-color), 6vw 122vh var(--star-color), 6vw 12vh var(--star-color), 60vw 32vh var(--star-color), 136vw 197vh var(--star-color), 67vw 200vh var(--star-color), 26vw 165vh var(--star-color), 95vw 104vh var(--star-color), 200vw 146vh var(--star-color), 166vw 154vh var(--star-color), 164vw 123vh var(--star-color), 59vw 88vh var(--star-color), 173vw 7vh var(--star-color), 192vw 40vh var(--star-color), 185vw 193vh var(--star-color), 179vw 123vh var(--star-color), 168vw 25vh var(--star-color), 53vw 110vh var(--star-color), 168vw 69vh var(--star-color), 157vw 4vh var(--star-color), 173vw 2vh var(--star-color), 178vw 81vh var(--star-color), 17vw 53vh var(--star-color), 99vw 186vh var(--star-color), 68vw 189vh var(--star-color), 58vw 42vh var(--star-color), 53vw 20vh var(--star-color), 54vw 57vh var(--star-color), 5vw 146vh var(--star-color), 124vw 178vh var(--star-color), 6vw 21vh var(--star-color), 1vw 24vh var(--star-color), 150vw 145vh var(--star-color), 163vw 135vh var(--star-color), 105vw 194vh var(--star-color), 33vw 118vh var(--star-color), 77vw 88vh var(--star-color), 78vw 89vh var(--star-color), 108vw 122vh var(--star-color), 27vw 176vh var(--star-color), 173vw 81vh var(--star-color), 169vw 112vh var(--star-color), 160vw 120vh var(--star-color), 78vw 35vh var(--star-color), 164vw 192vh var(--star-color), 38vw 148vh var(--star-color), 12vw 42vh var(--star-color), 178vw 118vh var(--star-color), 125vw 192vh var(--star-color), 14vw 195vh var(--star-color), 157vw 87vh var(--star-color), 151vw 125vh var(--star-color), 160vw 16vh var(--star-color), 93vw 16vh var(--star-color), 87vw 76vh var(--star-color), 161vw 198vh var(--star-color), 129vw 37vh var(--star-color), 80vw 89vh var(--star-color), 27vw 75vh var(--star-color), 167vw 158vh var(--star-color), 165vw 60vh var(--star-color), 76vw 145vh var(--star-color), 11vw 192vh var(--star-color), 65vw 32vh var(--star-color), 189vw 156vh var(--star-color), 96vw 70vh var(--star-color), 176vw 95vh var(--star-color), 65vw 124vh var(--star-color), 163vw 121vh var(--star-color), 83vw 109vh var(--star-color), 66vw 175vh var(--star-color), 21vw 154vh var(--star-color), 54vw 33vh var(--star-color), 56vw 107vh var(--star-color), 93vw 47vh var(--star-color), 143vw 24vh var(--star-color), 83vw 34vh var(--star-color), 17vw 198vh var(--star-color), 180vw 17vh var(--star-color), 96vw 57vh var(--star-color), 28vw 182vh var(--star-color), 27vw 32vh var(--star-color), 130vw 88vh var(--star-color), 49vw 119vh var(--star-color), 10vw 95vh var(--star-color), 44vw 150vh var(--star-color), 19vw 120vh var(--star-color), 7vw 190vh var(--star-color), 61vw 139vh var(--star-color), 7vw 58vh var(--star-color), 144vw 70vh var(--star-color), 195vw 194vh var(--star-color), 109vw 200vh var(--star-color), 47vw 181vh var(--star-color), 47vw 20vh var(--star-color), 195vw 106vh var(--star-color), 123vw 115vh var(--star-color), 197vw 29vh var(--star-color), 58vw 81vh var(--star-color), 161vw 25vh var(--star-color), 57vw 187vh var(--star-color), 22vw 32vh var(--star-color), 190vw 63vh var(--star-color), 114vw 157vh var(--star-color), 181vw 142vh var(--star-color), 115vw 155vh var(--star-color), 199vw 1vh var(--star-color), 160vw 59vh var(--star-color), 20vw 130vh var(--star-color), 68vw 7vh var(--star-color), 183vw 124vh var(--star-color), 68vw 112vh var(--star-color), 165vw 105vh var(--star-color), 109vw 119vh var(--star-color), 173vw 104vh var(--star-color), 186vw 88vh var(--star-color), 131vw 109vh var(--star-color), 47vw 33vh var(--star-color), 116vw 140vh var(--star-color), 156vw 166vh var(--star-color), 115vw 105vh var(--star-color), 182vw 168vh var(--star-color), 30vw 29vh var(--star-color), 173vw 162vh var(--star-color), 58vw 186vh var(--star-color), 85vw 50vh var(--star-color), 122vw 144vh var(--star-color), 111vw 133vh var(--star-color), 27vw 173vh var(--star-color), 133vw 67vh var(--star-color), 181vw 83vh var(--star-color), 143vw 136vh var(--star-color), 44vw 129vh var(--star-color), 38vw 45vh var(--star-color), 172vw 179vh var(--star-color), 109vw 55vh var(--star-color), 66vw 189vh var(--star-color), 128vw 157vh var(--star-color), 55vw 74vh var(--star-color), 54vw 148vh var(--star-color), 126vw 79vh var(--star-color), 32vw 18vh var(--star-color), 51vw 151vh var(--star-color), 177vw 14vh var(--star-color), 101vw 196vh var(--star-color), 120vw 52vh var(--star-color), 167vw 5vh var(--star-color), 20vw 126vh var(--star-color), 24vw 59vh var(--star-color), 194vw 24vh var(--star-color), 149vw 89vh var(--star-color), 5vw 58vh var(--star-color), 180vw 30vh var(--star-color), 147vw 47vh var(--star-color), 82vw 17vh var(--star-color), 8vw 73vh var(--star-color), 74vw 15vh var(--star-color), 181vw 183vh var(--star-color), 27vw 109vh var(--star-color), 58vw 82vh var(--star-color), 77vw 37vh var(--star-color), 183vw 27vh var(--star-color), 62vw 86vh var(--star-color), 64vw 39vh var(--star-color), 39vw 39vh var(--star-color), 100vw 61vh var(--star-color), 117vw 172vh var(--star-color), 78vw 43vh var(--star-color), 92vw 97vh var(--star-color), 195vw 132vh var(--star-color), 49vw 94vh var(--star-color), 173vw 78vh var(--star-color), 129vw 30vh var(--star-color), 178vw 114vh var(--star-color), 101vw 133vh var(--star-color), 142vw 86vh var(--star-color), 125vw 195vh var(--star-color), 57vw 96vh var(--star-color), 15vw 181vh var(--star-color), 139vw 138vh var(--star-color), 4vw 146vh var(--star-color), 6vw 164vh var(--star-color), 194vw 81vh var(--star-color), 24vw 43vh var(--star-color), 151vw 6vh var(--star-color), 176vw 43vh var(--star-color), 83vw 125vh var(--star-color), 160vw 11vh var(--star-color), 67vw 86vh var(--star-color), 64vw 171vh var(--star-color), 8vw 166vh var(--star-color), 173vw 174vh var(--star-color), 65vw 177vh var(--star-color);
    animation-duration: var(--stars-sm-speed);
  }
  .stars-sm:after {
    animation-delay: calc(var(--stars-sm-speed) / -2);
  }
  .stars-md {
    width: 5px;
    height: 5px;
  }
  .stars-md:before, .stars-md:after {
    box-shadow: 199vw 92vh var(--star-color), 57vw 73vh var(--star-color), 83vw 175vh var(--star-color), 93vw 184vh var(--star-color), 54vw 105vh var(--star-color), 159vw 143vh var(--star-color), 154vw 85vh var(--star-color), 116vw 52vh var(--star-color), 10vw 55vh var(--star-color), 84vw 61vh var(--star-color), 26vw 145vh var(--star-color), 59vw 191vh var(--star-color), 62vw 95vh var(--star-color), 105vw 132vh var(--star-color), 10vw 87vh var(--star-color), 51vw 112vh var(--star-color), 158vw 44vh var(--star-color), 70vw 191vh var(--star-color), 191vw 107vh var(--star-color), 156vw 85vh var(--star-color), 117vw 10vh var(--star-color), 74vw 118vh var(--star-color), 49vw 43vh var(--star-color), 76vw 19vh var(--star-color), 22vw 183vh var(--star-color), 49vw 41vh var(--star-color), 200vw 173vh var(--star-color), 153vw 12vh var(--star-color), 36vw 147vh var(--star-color), 63vw 66vh var(--star-color), 42vw 83vh var(--star-color), 149vw 159vh var(--star-color), 127vw 88vh var(--star-color), 179vw 153vh var(--star-color), 38vw 79vh var(--star-color), 191vw 168vh var(--star-color), 196vw 29vh var(--star-color), 1vw 4vh var(--star-color), 37vw 179vh var(--star-color), 21vw 128vh var(--star-color), 150vw 163vh var(--star-color), 69vw 113vh var(--star-color), 180vw 7vh var(--star-color), 58vw 164vh var(--star-color), 178vw 23vh var(--star-color), 138vw 79vh var(--star-color), 173vw 111vh var(--star-color), 158vw 72vh var(--star-color), 112vw 150vh var(--star-color), 94vw 81vh var(--star-color), 131vw 35vh var(--star-color), 97vw 164vh var(--star-color), 135vw 198vh var(--star-color), 101vw 52vh var(--star-color), 25vw 126vh var(--star-color), 30vw 83vh var(--star-color), 53vw 83vh var(--star-color), 108vw 3vh var(--star-color), 91vw 102vh var(--star-color), 76vw 164vh var(--star-color), 85vw 184vh var(--star-color), 42vw 55vh var(--star-color), 188vw 7vh var(--star-color), 122vw 113vh var(--star-color), 18vw 172vh var(--star-color), 125vw 49vh var(--star-color), 88vw 52vh var(--star-color), 62vw 141vh var(--star-color), 75vw 88vh var(--star-color), 172vw 1vh var(--star-color), 170vw 49vh var(--star-color), 15vw 176vh var(--star-color), 110vw 153vh var(--star-color), 176vw 155vh var(--star-color), 109vw 62vh var(--star-color), 59vw 19vh var(--star-color), 39vw 42vh var(--star-color), 181vw 127vh var(--star-color), 71vw 151vh var(--star-color), 184vw 191vh var(--star-color), 181vw 152vh var(--star-color), 81vw 197vh var(--star-color), 199vw 126vh var(--star-color), 17vw 92vh var(--star-color), 111vw 28vh var(--star-color), 109vw 170vh var(--star-color), 148vw 58vh var(--star-color), 173vw 118vh var(--star-color), 98vw 125vh var(--star-color), 185vw 156vh var(--star-color), 109vw 122vh var(--star-color), 37vw 107vh var(--star-color), 170vw 76vh var(--star-color), 11vw 42vh var(--star-color), 30vw 138vh var(--star-color), 198vw 89vh var(--star-color), 7vw 4vh var(--star-color), 149vw 169vh var(--star-color), 78vw 173vh var(--star-color), 22vw 100vh var(--star-color), 60vw 144vh var(--star-color), 127vw 54vh var(--star-color), 81vw 50vh var(--star-color), 82vw 143vh var(--star-color), 173vw 170vh var(--star-color), 179vw 69vh var(--star-color), 144vw 148vh var(--star-color), 109vw 172vh var(--star-color), 108vw 91vh var(--star-color), 171vw 11vh var(--star-color), 193vw 165vh var(--star-color), 197vw 163vh var(--star-color), 38vw 148vh var(--star-color), 143vw 35vh var(--star-color), 139vw 185vh var(--star-color), 154vw 14vh var(--star-color), 2vw 158vh var(--star-color), 32vw 12vh var(--star-color), 129vw 32vh var(--star-color), 41vw 82vh var(--star-color), 82vw 127vh var(--star-color), 60vw 124vh var(--star-color), 17vw 151vh var(--star-color), 27vw 122vh var(--star-color), 160vw 189vh var(--star-color), 199vw 147vh var(--star-color), 128vw 148vh var(--star-color), 13vw 173vh var(--star-color), 27vw 168vh var(--star-color), 3vw 137vh var(--star-color), 1vw 182vh var(--star-color), 187vw 49vh var(--star-color), 150vw 31vh var(--star-color), 177vw 136vh var(--star-color), 106vw 111vh var(--star-color), 98vw 186vh var(--star-color), 121vw 112vh var(--star-color), 132vw 33vh var(--star-color), 130vw 96vh var(--star-color), 59vw 159vh var(--star-color), 20vw 74vh var(--star-color), 192vw 97vh var(--star-color), 141vw 185vh var(--star-color), 98vw 131vh var(--star-color), 123vw 88vh var(--star-color), 47vw 153vh var(--star-color), 138vw 168vh var(--star-color), 130vw 80vh var(--star-color), 21vw 106vh var(--star-color), 93vw 177vh var(--star-color), 60vw 68vh var(--star-color), 9vw 7vh var(--star-color), 167vw 45vh var(--star-color), 111vw 198vh var(--star-color), 98vw 78vh var(--star-color), 53vw 49vh var(--star-color), 71vw 122vh var(--star-color), 85vw 137vh var(--star-color), 175vw 169vh var(--star-color), 116vw 123vh var(--star-color), 2vw 96vh var(--star-color), 9vw 193vh var(--star-color), 125vw 30vh var(--star-color), 198vw 186vh var(--star-color), 3vw 25vh var(--star-color), 191vw 38vh var(--star-color), 93vw 71vh var(--star-color), 107vw 64vh var(--star-color), 126vw 64vh var(--star-color), 35vw 32vh var(--star-color), 64vw 14vh var(--star-color), 91vw 160vh var(--star-color), 143vw 101vh var(--star-color), 47vw 169vh var(--star-color), 56vw 66vh var(--star-color), 53vw 32vh var(--star-color), 10vw 177vh var(--star-color), 74vw 18vh var(--star-color), 166vw 94vh var(--star-color), 166vw 138vh var(--star-color), 10vw 5vh var(--star-color), 87vw 107vh var(--star-color), 81vw 49vh var(--star-color), 60vw 97vh var(--star-color), 102vw 129vh var(--star-color), 63vw 46vh var(--star-color), 135vw 156vh var(--star-color), 131vw 80vh var(--star-color), 73vw 122vh var(--star-color), 12vw 49vh var(--star-color), 179vw 66vh var(--star-color), 82vw 176vh var(--star-color), 83vw 92vh var(--star-color), 79vw 78vh var(--star-color), 80vw 120vh var(--star-color), 70vw 27vh var(--star-color), 162vw 132vh var(--star-color), 200vw 195vh var(--star-color), 158vw 80vh var(--star-color), 143vw 73vh var(--star-color);
    animation-duration: var(--stars-md-speed);
  }
  .stars-md:after {
    animation-delay: calc(var(--stars-md-speed) / -2);
  }
  .stars-lg {
    width: 7px;
    height: 7px;
  }
  .stars-lg:before, .stars-lg:after {
    box-shadow: 66vw 146vh var(--star-color), 175vw 170vh var(--star-color), 176vw 62vh var(--star-color), 20vw 89vh var(--star-color), 129vw 191vh var(--star-color), 28vw 109vh var(--star-color), 156vw 169vh var(--star-color), 174vw 53vh var(--star-color), 11vw 163vh var(--star-color), 21vw 43vh var(--star-color), 2vw 27vh var(--star-color), 40vw 61vh var(--star-color), 175vw 83vh var(--star-color), 132vw 153vh var(--star-color), 187vw 161vh var(--star-color), 135vw 81vh var(--star-color), 14vw 184vh var(--star-color), 49vw 94vh var(--star-color), 74vw 171vh var(--star-color), 80vw 166vh var(--star-color), 179vw 104vh var(--star-color), 123vw 145vh var(--star-color), 174vw 14vh var(--star-color), 140vw 53vh var(--star-color), 8vw 137vh var(--star-color), 43vw 170vh var(--star-color), 54vw 49vh var(--star-color), 139vw 90vh var(--star-color), 173vw 177vh var(--star-color), 178vw 159vh var(--star-color), 24vw 7vh var(--star-color), 59vw 181vh var(--star-color), 18vw 12vh var(--star-color), 93vw 172vh var(--star-color), 69vw 169vh var(--star-color), 196vw 195vh var(--star-color), 22vw 140vh var(--star-color), 92vw 150vh var(--star-color), 188vw 114vh var(--star-color), 186vw 49vh var(--star-color), 1vw 109vh var(--star-color), 146vw 40vh var(--star-color), 36vw 32vh var(--star-color), 105vw 129vh var(--star-color), 94vw 6vh var(--star-color), 54vw 68vh var(--star-color), 194vw 151vh var(--star-color), 137vw 78vh var(--star-color), 96vw 88vh var(--star-color), 160vw 180vh var(--star-color);
    animation-duration: var(--stars-lg-speed);
  }
  .stars-lg:after {
    animation-delay: calc(var(--stars-lg-speed) / -2);
  }
  
  @keyframes stars {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(0);
    }
  }
  @keyframes exhaust {
    to {
      transform: scaleX(0.98) translateY(-1vmin);
    }
  }
  @keyframes speed-up-exhaust {
    from {
      transform: scale(0.98, 1);
    }
    to {
      transform: scale(0.96, 1.5);
    }
  }
  @keyframes speed-up-ship {
    from {
      transform: translateY(-5%);
    }
    to {
      transform: translateY(-3%);
    }
  }